<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="apple-touch-icon"  href="/assets/icons/iconwhite.png">
</head>
<body>
  <div id="nav">
     <nav>
        <div class="logo">
            <a href="/">
                <img src="/assets/icons/logwhite.png" alt="logo image">
            </a>
        </div>
        <div class="admin">
            <h3 onclick="openAuth()">admin</h3>
        </div>
     </nav>
  </div>
<!-- Admin singup form -->
 <div id="auth" class="popup_auth">
    <div class="authorise">
        <form class="admin_auth" action="/access" method="post">
            <input name="password" autocomplete="off">
            <button onclick="closeAuth()" class="submit_auth" type="submit">Submit</button>
        </form>
     </div>
 </div>
